@import "tailwindcss";

* {
  font-family: Arial, sans-serif;
}

.text-gradient {
  background: linear-gradient(90deg, #36b26f, #22a3d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.react-tel-input .selected-flag:focus:before,
.react-tel-input .selected-flag.open:before {
  border: none !important;
  box-shadow: none !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
